.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      
      %a.brand{:href => "./"}
      -if Rails.env == 'production'
        %div{:style => "float:right;margin-top:-8px;"}
          %a.btn.btn-warning{:href => "/accounts/sign_up", :nav => "register", :style => "cursor:pointer;"} Not registered ? Sign up

= render 'layouts/messages'
.row.equal-heights{:style => "text-align: center;margin-top:30px;height:400px;"}
  
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|    
    %fieldset
      %legend Sign In using email
      %br/
      .control-group        
        .controls
          .h5{:style => "display:inline-block; margin-right:10px;width:60px;text-align:left;"}Email:
          = f.email_field :email, placeholder: :email
      .control-group        
        .controls
          .h5{:style => "display:inline-block; margin-right:10px;width:60px;text-align:left;"}Password:
          = f.password_field :password, placeholder: :password
      .control-group
        .controls
          - if devise_mapping.rememberable?
            %p              
              = f.check_box :remember_me
              %span Remeber Me
                
      .control-group
        .controls
          = f.submit "Sign in", :class => "btn btn-large btn-success trigger_js_event", :btn_type => "session"
  %div{:style=>"display:block;"}
    %a{:href => "/accounts/password/new"} Forgot your password ?
  %div{:style=>"display:block;"}
    %a{:href => "/accounts/confirmation/new"} Didn't receive confirmation email ?
  %div{:style=>"display:block;"}
    %a{:href => "/accounts/unlock/new"} Got your account locked ? 

%div{:id=>"extra"}
  %div{:class=>"inner", :style=>"min-height:400px;"}