<div style="display:none;"> 
  {{#if view.alertParams}}
    <div class="fb_alert" id="oneFancyShowAll">
      <div class="message">
        <div class="inside">        
          <h3>{{view.alertParams.header.main}}</h3>
          <p>{{view.alertParams.header.note}}</p>
        </div>
        <div class="detail">
          <p>{{view.alertParams.detail}}</p>      
        </div>
      </div>

      <div class="commands">
        {{#if view.alertParams.first_btn}}
          <div class="section">

            <div class="btn btn-large alert_btn {{getvalue view.alertParams.first_btn.class}}" tag="first_btn" >  
              {{view.alertParams.first_btn.text}}
            </div>
          </div>
        {{/if}}
        {{#if view.alertParams.second_btn}}
          <div class="section">
            <div class="btn btn-large alert_btn {{getvalue view.alertParams.second_btn.class}}" tag="second_btn" >    
              {{view.alertParams.second_btn.text}}
            </div>            
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div> 