<div class='side_menu_header'> Applications </div>
<div class='side_link_box'>
  <div class='side_menu_link' {{action listProject}}> Show Applications </div>
  <div class='side_menu_link' {{action newProject}}> New Application </div>  
</div>
<div class='side_menu_header'> App Console </div>
<div class='side_link_box'>
  <div class='side_menu_link' {{action openEventList}} > Events </div>  
</div>
<div class='side_link_box'>
  <div class='side_menu_link' {{action openProjectRules}} > Rules </div>
</div>


<div class='side_menu_header'> App Report </div>
<div class='side_link_box'>
  <div class='side_menu_link'> Event Report </div>
 </div>
<div class='side_link_box'>
  <div class='side_menu_link'> Action Report </div>  
</div>


<div class='side_menu_header'> Account </div>
<div class='side_link_box'>
  <div class='side_menu_link'> Settings </div>
 </div>
<div class='side_link_box'>
  <div class='side_menu_link'> Team </div>  
</div>




<!-- <div>
<button {{action openRule}} > Open Rule </buton>
</div>

<div>
<button class ="editRule" {{action  editRule}} > Edit Rule </buton>
</div>


 -->