.row.equal-heights{:style => "text-align: center;"}
  .span4.offset4

  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { method: :put, class: "form-inline" }) do |f|
    = devise_error_messages!
    %fieldset
      %legend Edit your data
      %br/
      .control-group
        .controls
          = f.email_field :email, placeholder: :email
      .control-group
        .controls
          = f.password_field :password, placeholder: "new password"
      .control-group
        .controls
          = f.password_field :password_confirmation, placeholder: "new password conf."
      .control-group
        .controls
          = f.password_field :current_password,              |
            :placeholder => "needed to confirm your changes" |
      .control-group
        .controls
          = f.submit "Update", :class => "btn btn-primary"
          = link_to "Cancel", "/", :class => "btn"
    %legend Cancel account
    %p
      Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.