.main_nav
  %ul
    %li
      %a.scroll{:href => "/"} Home
    %li
      %a.scroll{:href => "/accounts/sign_in"} Sign In
    %li
      %a.scroll{:href => "/accounts/password/new"} Forgot Password
    %li
      %a.scroll{:href => "/accounts/confirmation/new"} Resend Confirmation
    %li
      %a.scroll{:href => "/accounts/unlock/new"} Unlock Account
    

.row.equal-heights{:style => "text-align: center;"}
    
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    %fieldset
      %legend Sign up
      %br/
      .control-group
        .controls
          = f.email_field :email, placeholder: :email
      .control-group
        .controls
          = f.text_field :name, placeholder: :name          
      .control-group
        .controls
          = f.password_field :password, placeholder: :password
      .control-group
        .controls
          = f.password_field :password_confirmation, placeholder: "password confirmation"   
      .control-group
        .controls
          = f.submit "Sign up", :class => "btn btn-primary trigger_js_event", :btn_type => "registration"

  