<div id="extra">
  
  <div class="inner">
    
    <div class="container">
      
      <div class="row">
        
        <div class="span4">
          
          <h3>Quick Links</h3>
          
          
          <ul class="footer-links clearfix">
                        <li><a {{action navClick}} nav='home'>Home</a></li>
                        <li><a {{action navClick}} nav='pricing'>Plans</a></li>
                        <li><a {{action navClick}} nav='features'>Features</a></li>
                        <li><a {{action navClick}} nav='aboutus'>About</a></li>
                        <li><a {{action navClick}} nav='howitworks'>How it works</a></li>
                    </ul>
                    
                    <ul class="footer-links clearfix">    
                        <li><a href="javascript:;">Support</a></li>
                        <li><a href="javascript:;">License</a></li>
                        <li><a href="javascript:;">Terms of Use</a></li>
                        <li><a href="javascript:;">Privacy Policy</a></li>
                        <li><a href="javascript:;">Something Else</a></li>
                    </ul>
          
        </div> <!-- /span4 -->
        
        
        <div class="span4">
          
          <h3>Stay In Touch</h3>
          
          
          <p>Thanks for visiting our page you can stay connected with us and help us improve:</p>
          
          <ul class="social-icons-container">
            
            <li>
              <a href="https://twitter.com/trig_matic" class="social-icon social-icon-twitter" _target='blank'>
                Twitter
              </a>
            </li>
              
            <li>
              <a href="javascript:;" class="social-icon social-icon-googleplus" _target='blank'>
                Google +
              </a>
            </li>
            
            <li>              
              <a href="http://www.facebook.com/actwitty" class="social-icon social-icon-facebook" _target='blank'>
                Facebook
              </a>
            </li>
            
          </ul> <!-- /extra-social -->
          
        </div> <!-- /span4 -->
        
        <div class="span4">
          
          <h3>Subscribe and get updates</h3>
          

          <p>Subscribe to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
          
          
        
          

          <!-- Begin MailChimp Signup Form -->
          <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

          <div id="mc_embed_signup">
            <form action="http://actwitty.us5.list-manage.com/subscribe/post?u=04cad5f85d1782ecb0c0b4216&amp;id=889fa9cfb9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" validate>              
              <input type="email" value="" name="EMAIL" class="subscribe_email" id="mce-EMAIL" placeholder="  email address" required>
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn" style='display:block;'>
            </form>
          </div>

        <!--End mc_embed_signup-->
          
        </div> <!-- /span4 -->
        
      </div> <!-- /row -->
      
    </div> <!-- /container -->
    
  </div> <!-- /inner -->
  
</div> <!-- /extra -->
      
      
      
      
<div id="footer">
          
  <div class="inner">
  
    <div class="container">
    
      <div class="row">
        <div id="footer-copyright" class="span4">
          &copy; 2012 Trigmatic.
        </div> <!-- /span4 -->
        
        <div id="footer-terms" class="span8">
          
        </div> <!-- /span8 -->
      </div> <!-- /row -->
      
    </div> <!-- /container -->
    
  </div> <!-- /inner -->
  
</div> <!-- /footer