  <div class="action_box"><!-- Template config main box starts --> 
    <div class="event_selector">
      <h3> Set the action </h3>
      <select class="select2Props action_sel" {{action "selectTemplate" view.rules.selected target="App.conditionsView"}}>

        {{#each template in view.rules.templateLib}}    
          {{#ifequal view.rules.selected.action template.id}}
            <option  value="{{getvalue template.id}}" selected >{{getTemplateName template.id}}</option>
          {{else}}
            <option value="{{getvalue template.id}}" >{{getTemplateName template.id}}</option>
          {{/ifequal}}
        {{/each}}
      </select>
    </div>

    <h3>Template Configuration</h3>
    <div class="preview" >
      <div class='btn btn-large btn-inverse' {{action "showTemplatePreview" view.rules.selected target="App.conditionsView"}}> 
        Preview
      </div>
    </div>

    <div {{bindAttr class="view.showTemplateDecker"}}>  


      <div class='template_config_box'>
        {{view App.ActionParamsView actionParamsBinding="view.rules.selected.actionParamArr"}}

      </div> <!-- Template vars config list ends -->
    </div> <!-- Decker ends -->
    <div class="decker_boundary">  
      <div {{bindAttr class="view.showDeckerControl"}} {{action "manageDeckerMinimize" target="App.conditionsView"}}> </div>
    </div>
  </div> <!-- Template config main box ends -->