  <div class="action_box"><!-- Template config main box starts --> 
    <div class="event_selector">      
      <h5> Select action template</h5>
      <select class="select2Props action_sel" {{action "selectTemplateName" view.rule target="App.actionView"}}>
        
        {{#eachProperty view.templateChoices.rbT.templateLib}}    

          {{#ifequal view.rule.action.desc.type iter_key}}
            <option  value="{{getvalue iter_key}}" selected >{{getvalue iter_key}}</option>
          {{else}}
            <option value="{{getvalue iter_key}}" >{{getvalue iter_key}}</option>
          {{/ifequal}}
        {{/eachProperty}}
      </select>
    </div>


    <div class="event_selector">
      <h5> Select  template type</h5>      
      
      <select class="select2Props action_sel" {{action "selectTemplateApi" view.rule target="App.actionView"}}>
        
        {{#eachProperty view.apiChoices}}              
          
          {{#ifequal view.rule.action.desc.api iter_key}}            
            <option  value="{{getvalue iter_key}}" selected >
              {{getTemplateName view.rule.action.desc.type iter_key}}
            </option>
          {{else}}
            <option value="{{getvalue iter_key}}" >
              {{getTemplateName view.rule.action.desc.type iter_key}}
            </option>
          {{/ifequal}}
        {{/eachProperty}}
      </select>
    </div>



    <h5>Template Configuration</h5>
    <div class="preview" >
      <div class='btn btn-large btn-inverse' {{action "showTemplatePreview" view.rule target="App.actionView"}}> 
        Preview
      </div>
    </div>

    <div {{bindAttr class="view.showTemplateDecker"}}>  


      <div class='template_config_box'>
        {{view App.ActionParamsView actionBinding="view.rule.action" paramsBinding="view.rule.action.params"}}

      </div> <!-- Template vars config list ends -->
    </div> <!-- Decker ends -->
    <div class="decker_boundary">  
      <div {{bindAttr class="view.showDeckerControl"}} {{action "manageDeckerMinimize" target="App.actionView"}}> </div>
    </div>
  </div> <!-- Template config main box ends -->