<div class='side_menu_header'> Applications </div>
<div class='side_link_box projListMenu'>
  <div class='side_menu_link' {{action listProject}}> Show Applications </div>
</div>
<div class='side_link_box newProjMenu'>
  <div class='side_menu_link' {{action newProject}}> New Application </div>  
</div>
<div class='side_link_box editProjMenu'>
  <div class='side_menu_link' {{action editProjectFromMenu}}> Edit Application </div>  
</div>

<div class='side_menu_header'> App Console </div>
<div class='side_link_box eventsMenu'>
  <div class='side_menu_link' {{action openEventList}} > Events </div>  
</div>
<div class='side_link_box rulesMenu'>
  <div class='side_menu_link' {{action openProjectRules}} > Rules </div>
</div>


<div class='side_menu_header'> App Report </div>
<div class='side_link_box eventReportMenu'>
  <div class='side_menu_link'> Event Report </div>
 </div>
<div class='side_link_box actionReportMenu'>
  <div class='side_menu_link'> Action Report </div>  
</div>


<div class='side_menu_header'> Account </div>
<div class='side_link_box settingsMenu'>
  <div class='side_menu_link'> Settings </div>
 </div>
<div class='side_link_box teamMenu'>
  <div class='side_menu_link'> Team </div>  
</div>


