<div class="home_wrapper">
  <div class="home_wide_wrapper">
   <!-- Header Bar -->
    <div class="home_header">


      <!-- Header Bar Project Menu -->
      <div class="proj_menu">   
        {{#if view.project}}      
          <div class="btn-group" style='width: 160px'>
            <button style='width: 150px'  class="btn">{{view.project.description.name}}</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown"> 
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                {{#each project in view.projectsList}}
                  <li><a {{action "showProjectRules" project}}>{{project.description.name}}</a></li>
                {{/each}}                
                <li class="divider"></li>
                <li><a {{action "newProject"}}>Create New</a></li>
              </ul>
          </div>
        {{else}}
          <div class="btn" style='width: 150px' {{action "newProject"}}>Create New</div>
        {{/if}}
      </div>

      

      <!-- Header Bar Project Menu Ends -->
      <!-- Menu divider -->
      <div class="menu_divider"></div>

      <!-- Right side menu -->
      <div class="user">
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            {{ view.account.name }} 
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a {{action "showSettings"}}>Settings</a></li>
            <li><a href="/accounts/sign_out">Sign-out</a></li>                  
          </ul>
        </div>
      </div>
      <!-- Other Menus -->
      <div class="home_user_menu">        
        <a href="/help">
          Help
        </a>
      </div>
      <div class="home_user_menu">
        <a href="javascript:olark('api.box.expand');">
          Live Chat
        </a>
      </div>      

      <!-- End the right side menu -->
    </div>
    <!-- Header Bar Ends -->
    <div class="home_main_box">
      <div class="home_side_deck">
        {{outlet homeSideOutlet}}
      </div>
      <div class="home_content">
        {{outlet homeContentOutlet}}
      </div>
    </div>

  </div>
</div>

