{{view App.BusyView}}
{{view App.BannerView }}
{{view App.AlertView alertParamsBinding="view.alert"}}
{{view App.InlineAlertView }}


<div class="rule_edit">

  <div class="name_box">
    <h3> Rule Name </h3>
    {{view App.RequiredAFTextField valueBinding="view.rules.selected.name" placeholder="Rule name" name="Rule Name"}}
  </div>


  <div class="event_box">
    <h3> Trigger Event </h3>
    <select class="select2Props evt_sel" {{action "changeRuleEvent" }}>
  
      {{#each event in view.rules.events}}    
        {{#ifequal view.rules.selected.event event}}
          <option value={{getvalue event}} selected>{{event}}</option>
        {{else}}
          <option >{{event}}</option>
        {{/ifequal}}
      {{/each}}

    </select>
  </div>
  
  {{view App.ConditionListerView conditionsBinding="controller.content"}}
  {{template "home_page/projects/rules/actions/action"}}
  
  <div class="commands_box" >
    <div class="commands">
      <div class='cmd_btn btn btn-large' {{action "cancelRuleEdit" }}> 
        Cancel
      </div>
      <div class='cmd_btn btn btn-large btn-success' {{action "saveRuleEdit" }}> 
        Save
      </div>
    </div>
  </div>


</div>

