{{#if view.showInfo}}
  <div class="message">
      <a alt="close" class="close_button" {{action "hideInfo" target="App.conditionsView"}}></a>

      <div class="message_text_container">
          <h3> Configure the rules for this app </h3>
          There are no rules set for this application

      </div>

      <a href="/" class="info_btn_pos btn btn-info">
          Learn more      
      </a>
  </div>
{{/if}}

<div class="rule_edit">

  <div class="name_box">
    <h3> Rule Name </h3>
    {{view App.RequiredAFTextField valueBinding="view.rules.selected.name" placeholder="Rule name" name="Rule Name"}}
  </div>


  <div class="event_box">
    <h3> Trigger Event </h3>
    <select class="select2Props evt_sel" >
  
      {{#each event in view.rules.events}}    
        {{#ifequal view.rules.selected.event event}}
          <option  selected>{{event}}</option>
        {{else}}
          <option >{{event}}</option>
        {{/ifequal}}
      {{/each}}

    </select>
  </div>


  {{template "home_page/projects/rules/conditions/condition_lister"}}

  {{template "home_page/projects/rules/actions/action"}}
  
  <div class="commands_box" >
    <div class="commands">
      <div class='cmd_btn btn btn-large' {{action "cancelRuleEdit" }}> 
        Cancel
      </div>
      <div class='cmd_btn btn btn-large btn-success' {{action "saveRuleEdit" }}> 
        Save
      </div>
    </div>
  </div>


</div>

