.main_nav
  %ul
    %li
      %a.scroll{:href => "/"} Home        
    %li
      %a.scroll{:href => "/accounts/confirmation/new"} Resend Confirmation
.main_padding
.row.equal-heights{:style => "text-align: center;"}
  
  = form_for resource, :as => resource_name, :url => update_account_confirmation_path, :html => {:method => 'put'} do |f|
    %fieldset
      %legend 
        Account Activation
        - if resource.email
          for #{resource.email}
      - if @requires_password
        .control-group
          .controls
            = f.label :name
            = f.text_field :name, placeholder: :name          
        .control-group
          .controls
            = f.label :password
            = f.password_field :password, placeholder: :password
        .control-group
          .controls
            = f.label :password_confirmation
            = f.password_field :password_confirmation, placeholder: "password confirmation"   
        = hidden_field_tag :confirmation_token, @confirmation_token
        .control-group
          .controls
            = f.submit "Activate", :class => "btn btn-primary"

  

