%div{:style => "width:100%;display:block;"}
  %div{:style => "width:600px;display:block;margin:auto;margin-top:0px;"}

    - flash.each do |name, msg|
      -if msg.class == Array
        - msg.each do | single_msg|
          %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
            %a.close{"data-dismiss" => "alert"} ×
            = content_tag :div, single_msg, :id => "flash_#{name}" if single_msg.is_a?(String)        
      -else
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          %a.close{"data-dismiss" => "alert"} ×
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)