!!!
%html
  %head
    %title Trigmatic
    
    

    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600", :rel => "stylesheet"}/
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/            
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    = csrf_meta_tags

    -if @internalPage == true
      = stylesheet_link_tag    "internal", :media => "all"
    -else
      = stylesheet_link_tag    "landing", :media => "all"
    = javascript_include_tag "application"
    

  /* Only in the production mode */
  -if  Rails.env.production?
    =render 'layouts/google_analytics'  
    =render 'layouts/mixpanel'    
    =render 'layouts/kissmetrics'


  %body  
    #trigmaticEmberBase
    -if !current_account.nil?
      :javascript
        var loggedInAccountID = '#{current_account.id}';
    = yield

    /* Only in the production mode */
    -if  Rails.env.production?
      =render 'layouts/intercomio'
      =render 'layouts/olark'
      =render 'layouts/uservoice'


      