!!!
%html
  %head
    %title Rule Bot
    %link{:href => "http://fonts.googleapis.com/css?family=Vollkorn", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/    
    


  /* Only in the production mode */
  -if  Rails.env.production?
    =render 'layouts/google_analytics'  
    =render 'layouts/mixpanel'    
    =render 'layouts/kissmetrics'


  %body  
    = render 'layouts/messages'
    #rulebotEmberBase
    -if !current_account.nil?
      :javascript
        var loggedInAccountID = '#{current_account.id}';
    = yield

    /* Only in the production mode */
    -if  Rails.env.production?
      =render 'layouts/intercomio'
      =render 'layouts/olark'
      =render 'layouts/uservoice'


      